.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems a {
    text-decoration: none;
    color: black;
}

.dialogItems .active {
    color : white;
}

.messages {
    padding-top: 15px;
}

.messages .message {
    
}




